<h1>Portfolio</h1>

<% @portfolios.each do |portfolio| %>
  <hr>

  <h2><%= link_to portfolio.title, portfolio %></h2>

  <h3><%= portfolio.subtitle %></h3>
  <p><%= portfolio.body %></p>

  <%= image_tag portfolio.main_image %>
<% end %>

<br>
<%= link_to 'New Portfolio', new_portfolio_path %>