<h2><%= @portfolio.title %></h2>

<hr>

<h3><%= @portfolio.subtitle %></h3>
<p><%= @portfolio.body %></p>

<%= image_tag @portfolio.main_image %>

<br>
<%= link_to 'Edit', edit_portfolio_path(@portfolio) %>
<%= link_to 'Delete', @portfolio, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Portfolios', portfolios_path %>